* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  position: relative;
}

/* Navbar */
/* Reset padding for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#second-link-nav-bar {
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
}

#link-nav-bar-on-big-screen a {
  color: #000;
  text-decoration: none;
}
.full-screen-offcanvas{
  width: 100% !important;
  height: 100% !important;
  max-width: 90% !important;
  max-height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
}

.dropdown-on-big-screen:hover > .dropdown-menu {
  display: block;
}

.dropdown-on-big-screen > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.dropdown-on-small-screen{
  display: block;
  position: relative;
}

.listCard-item a {
  font-weight: 400;
  margin: 0px 0px -3px;
  font-style: sans-serif;
  padding-bottom: 15px;
}
.listCard-item a:hover {
  border-bottom: 3px solid purple;
}


.link-sign-in-up a{
  color: #000;
  margin-left: -30px;
  font-weight: 700;
  font-size: 1rem;
}


#text{
  font-size: 1.6rem;
  margin-bottom: -7px;
  font-weight: bold;
}

.text-promotion span {
  font-size: 1.2rem;
  color: rgb(187, 24, 187); 
}
.text-promotion p{
  font-size: 1rem;
  
  color: black;
}

#offcanvas-body li{
 border-bottom: 1px solid rgb(187, 184, 184);

}







.miniLogoWithText img {
  width: 4.5%;
  margin: 10px 0;
  border-radius: 50%;
  border: 0.2px solid lightgray;
}
.miniLogoWithText a {
  text-decoration: none;
  color: gray;
}

#container-music > .containers > .box {
  height: 224px;
  min-width: 184px;
  margin-right: 10px;
  flex-grow: 1;

}

.containers img {
  width: 100%;
  height: 100%;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border-radius: 3%;
  transition: transform 0.5s ease-in-out;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.containers img:hover {
  transform: scale(1.05);
}

/* - Centers the container horizontally with auto margins.
- Uses flexbox to layout child elements in a row.
- Allows horizontal scrolling if the content overflows. */

.containers {
  padding: 10px 8px 10px 8px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.containers::before,
.containers::after {
  content: "";
  width: 100%;
}

.box {
  height: 222px;

  min-width: 142px;
  margin-right: 10px;
  flex-grow: 1;
}

.banner {
  background-color: rgba(250, 187, 187, 0.822);
  padding: 20px 0 35px 0;
  
}

.banner h3{
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

#banner-btn {
  background-color: rgb(133, 17, 133);
  width: 250px;
  display: inline-block;
  -webkit-border-radius: 5000px;
  -moz-border-radius: 5000px;
  border-radius: 5000px;
  font-size: larger;
  color: white;
}

/* Big-wrap-img */
.img_wrap {
  width: 96px;
  height: 146px;
}
.img_wrap img {
  -webkit-box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.img_wrap img:hover {
  transform: scale(1.1);
}
#card_img_book {
  width: 249px;
  height: 230px;
  
}
#card_img_book:nth-of-type(-n + 4){
border-bottom: 1px solid lightgray;
}
#card_img_book p:first-child {
font-family: "Oswald", sans-serif;
font-size: larger;
font-weight: bolder;
}
#card_img_book p:last-child span {
color: red;
font-size: 16px;
text-decoration: line-through;
}
/* Big-wrap-img */


/* promotion-card */
#cards {
  flex-direction: row;
  width: 100%;
  font-size: 1.7rem;
  position: relative;
  margin-bottom: 20px;
}

#card-text {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.img-card {
  background-color: rgb(233, 232, 232);
  padding: 30px 0 0 20px;
}

.img-card img {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 2%;
}

#cards img {
  width: 45%;
  margin-left: 8px;
}

.card-body-pro-logo {
  width: 100%;
  height: 60px;
  margin-left: -15px;
}

.card-body-pro-logo p {
  display: inline;
  font-size: 1rem;
  color: rgb(168, 166, 166);
}

.card-body-pro-logo img {
  height: 40px;
  border: 1px solid rgb(241, 231, 231);
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 22px -5px rgba(0, 0, 0, 0.75);
}
.card-body-pro-logo a {
  text-decoration: none;
  color: rgb(168, 166, 166);
}
/* promotion-card */

.Footer {
  padding: 50px 0;
}

footer section {
  background-color: rgb(47, 20, 65);
  color: white;
}

.trustPilotAndVerify {
  margin-top: -60px;
}
.trustPilotAndVerify img {
  width: 234px;
  height: 109px;
  display: block;
  margin: 0 0 28px 0;
}

.trustPilotAndVerify svg img {
  fill: white;
}

#paymentAndSocialMedia span p {
  font-size: 1.2rem;
  color: white;
  margin: 0 0 5px;
}

#paymentAndSocialMedia img {
  display: inline;
  width: 48px;
  height: 47px;
}

#paymentAndSocialMedia img:nth-of-type(6) {
  display: block;
  width: 150px;
  height: 22px;
  /* margin: 0 10px 0 10px; */
  margin: 0 auto;
}

#paymentAndSocialMedia img:last-child {
  width: 150px;
  height: 219px;
  margin: 0 10px 0 10px;
  justify-self: center;
}

.svg svg{
  width: 60%;
  margin-left: 40px;
  fill: white;
}

@media screen and (max-width: 1300px) {

  svg{
    width: 10%;
    margin: 0 auto;
  }
  .svg{
    width: 60%;
    margin: 0 auto;
  }

  .logo img{
    width: 145px;
  }
  .toggler-button{
    margin-left: 20px;
    margin-right: -16px;
  }

  .form-input-second-row input{
    width : 75%;
    margin: 0 auto;
  }


}

@media screen and (max-width: 400px) {

  .logo img{
    width: 90px;
  }


}
